@keyframes Down {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(180deg)
	}

}

@keyframes Up {
	0% {
		transform: rotate(180deg)
	}

	100% {
		transform: rotate(0)
	}

}

@keyframes Opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.up {
	animation: Up 0.3s ease-in forwards;

}

.down {
	animation: Down 0.3s ease-out forwards;
}

.hover {
	animation: Opacity 0.2s ease-in forwards;

}

.c-pull-down-menu {
	position: relative;

	&-title {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid #eee;
		color: #666;

		&-hover {
			color: #60ceae;
			border: 1px solid #abdcce;

		}
	}

	&-content {
		opacity: 0;
		position: absolute;
		z-index: 10;
		background: #fff;
		display: inline-block;


		border: 1px solid #eee;

		&-item {
			padding: 10px;

			&-selected {
				color: #60ceae;
				background: #e2f0ec;
			}
		}
	}
}