.c-pull-down-menu {
	position: relative;

	&-title {
		display: inline-block;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid #eee;
	}

	&-content {
		position: absolute;
		background: #fff;
		display: inline-block;


		border: 1px solid #eee;

		&-item {
			padding: 10px;

			&-selected {
				background: #e2f0ec;
			}
		}
	}
}